Repository openhab/openhab-core, pull requests merged in 2019-10, with the labels that each got.

#1062 Reenable org.openhab.core.automation.module.*.tests
  itests/org.openhab.core.automation.module.core.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.defaultscope.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.tests/src/main/java/org/openhab/core/automation/module/script/ScriptRuleTest.java
  itests/org.openhab.core.automation.module.timer.tests/itest.bndrun
  itests/org.openhab.core.automation.module.timer.tests/src/main/java/org/openhab/core/automation/module/timer/internal/BasicConditionHandlerTest.java
  itests/org.openhab.core.automation.module.timer.tests/src/main/java/org/openhab/core/automation/module/timer/internal/DayOfWeekConditionHandlerTest.java
  itests/org.openhab.core.automation.module.timer.tests/src/main/java/org/openhab/core/automation/module/timer/internal/RuntimeRuleTest.java
  itests/org.openhab.core.automation.module.timer.tests/src/main/java/org/openhab/core/automation/module/timer/internal/TimeOfDayTriggerHandlerTest.java
  itests/pom.xml
Labels: test

#1061 Reenable org.openhab.core.automation.integration.tests
  itests/org.openhab.core.automation.integration.tests/itest.bndrun
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/AutomationIntegrationJsonTest.java
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/AutomationIntegrationTest.java
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/HostFragmentSupportTest.java
  itests/pom.xml
Labels: test

#735 Enable Model Item Tests
  itests/org.openhab.core.model.item.tests/itest.bndrun
  itests/org.openhab.core.model.item.tests/pom.xml
  itests/org.openhab.core.model.item.tests/src/main/java/org/eclipse/smarthome/model/item/internal/GenericItemProvider2Test.java
  itests/org.openhab.core.model.item.tests/src/main/java/org/eclipse/smarthome/model/item/internal/GenericItemProviderTest.java
  itests/org.openhab.core.model.item.tests/src/main/java/org/eclipse/smarthome/model/item/internal/GenericMetadataProviderTest.java
  itests/pom.xml
Labels: test

#736 Enable Model Rule Tests
  itests/org.openhab.core.model.rule.tests/.classpath
  itests/org.openhab.core.model.rule.tests/itest.bndrun
  itests/org.openhab.core.model.rule.tests/pom.xml
  itests/org.openhab.core.model.rule.tests/src/main/java/org/eclipse/smarthome/model/rule/runtime/internal/engine/RuleExecutionTest.java
  itests/org.openhab.core.model.rule.tests/src/main/java/org/eclipse/smarthome/model/rule/runtime/internal/engine/RuleTriggerTest.java
  itests/pom.xml
Labels: test

#737 Enable Model Script Tests
  itests/org.openhab.core.model.script.tests/.classpath
  itests/org.openhab.core.model.script.tests/itest.bndrun
  itests/org.openhab.core.model.script.tests/src/main/java/org/eclipse/smarthome/model/script/actions/ScriptExecutionTest.java
  itests/org.openhab.core.model.script.tests/src/main/java/org/eclipse/smarthome/model/script/engine/ScriptEngineOSGiTest.java
  itests/org.openhab.core.model.script.tests/src/main/java/org/eclipse/smarthome/model/script/lib/NumberExtensionsTest.java
  itests/org.openhab.core.model.script.tests/src/main/java/org/eclipse/smarthome/model/script/tests/lib/NumberExtensionsTest.java
  itests/pom.xml
Labels: test

#1066 Fix ExpiringCacheAsyncTest.testFetchValue unreliability
  itests/org.openhab.core.tests/src/main/java/org/eclipse/smarthome/core/cache/ExpiringCacheAsyncTest.java
Labels: test

#1065 Reenable org.openhab.core.config.discovery.usbserial*.tests
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/.classpath
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/.project
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/src/main/java/org/eclipse/smarthome/config/discovery/usbserial/linuxsysfs/internal/DeltaUsbSerialScannerTest.java
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/src/main/java/org/eclipse/smarthome/config/discovery/usbserial/linuxsysfs/internal/PollingUsbSerialScannerTest.java
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/src/main/java/org/eclipse/smarthome/config/discovery/usbserial/linuxsysfs/testutil/UsbSerialDeviceInformationGenerator.java
  itests/org.openhab.core.config.discovery.usbserial.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.usbserial.tests/src/main/java/org/eclipse/smarthome/config/discovery/usbserial/internal/UsbSerialDiscoveryServiceTest.java
  itests/pom.xml
Labels: test

#1068 Move audio unit tests
  bundles/org.openhab.core.audio/.classpath
  bundles/org.openhab.core.audio/pom.xml
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AbstractAudioServletTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AudioConsoleTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AudioFormatTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AudioManagerServletTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AudioManagerTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/AudioServletTest.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/fake/AudioSinkFake.java
  bundles/org.openhab.core.audio/src/test/java/org/eclipse/smarthome/core/audio/internal/utils/BundledSoundFileHandler.java
  bundles/org.openhab.core.audio/src/test/resources/configuration/sounds/mp3AudioFile.mp3
  bundles/org.openhab.core.audio/src/test/resources/configuration/sounds/wavAudioFile.wav
  itests/org.openhab.core.audio.tests/.classpath
  itests/org.openhab.core.audio.tests/.project
  itests/org.openhab.core.audio.tests/NOTICE
  itests/org.openhab.core.audio.tests/itest.bndrun
  itests/org.openhab.core.audio.tests/pom.xml
  itests/pom.xml
Labels: test

#1070 Move core unit tests
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/auth/client/oauth2/AccessTokenResponseTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/cache/ExpiringCacheMapTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/cache/ExpiringCacheTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/common/QueueingThreadPoolExecutorTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/common/ThreadFactoryBuilderTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/common/ThreadPoolManagerTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/common/osgi/ResourceBundleClassLoaderTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/i18n/I18nProviderImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/items/ItemBuilderTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/items/ItemStateConverterImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/items/ItemTagTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/items/MetadataRegistryImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/CronAdjusterMiscTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/CronAdjusterTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/CronSchedulerImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/DelegatedSchedulerTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/PeriodicSchedulerImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/SchedulerImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/service/ReadyServiceImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/service/StateDescriptionServiceImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/GenericItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/MetadataKeyTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/TestItem.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/dto/ItemDTOMapperTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/events/AbstractEventFactoryTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/items/events/ItemEventFactoryTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/CoreItemFactoryTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/dimension/VolumetricFlowRateTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/CallItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/ColorItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/ContactItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/DateTimeItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/DimmerItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/ImageItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/LocationItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/NumberItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/PlayerItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/RollershutterItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/StateUtil.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/StringItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/items/SwitchItemTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/ArithmeticGroupFunctionTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/DateTimeGroupFunctionTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/DecimalTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/HSBTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/OnOffTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/OpenClosedTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/PercentTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/PointTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/QuantityTypeArithmeticGroupFunctionTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/QuantityTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/StringListTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/StringTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/types/UpDownTypeTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/library/unit/SmartHomeUnitsTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/net/HttpServiceUtilTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/net/NetUtilTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/types/util/UnitUtilsTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/util/UIDUtilsTest.java
  itests/org.openhab.core.tests/src/main/java/org/eclipse/smarthome/core/items/GroupItemOSGiTest.java
Labels: test

#1074 Move thing unit tests
  bundles/org.openhab.core.thing/pom.xml
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/ChannelGroupUIDTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/ChannelTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/ChannelUIDTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/ThingUIDTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/UIDTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/binding/builder/ThingStatusInfoBuilderTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/firmware/FirmwareEventFactoryTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/AutoUpdateManagerTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/ChannelItemProviderTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/ThingManagerTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/firmware/ProgressCallbackTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/RawButtonToggleSwitchProfileTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemDefaultProfileTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemFollowProfileTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemOffsetProfileTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/TimestampProfileTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/type/ChannelGroupTypeBuilderTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/type/ChannelTypeBuilderTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/type/ThingTypeBuilderTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/util/ThingHandlerHelperTest.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/util/ThingHelperTest.java
Labels: test

#1075 Move UI icon unit tests
  bundles/org.openhab.core.ui.icon/src/test/java/org/eclipse/smarthome/ui/icon/AbstractResourceIconProviderTest.java
  bundles/org.openhab.core.ui.icon/src/test/java/org/eclipse/smarthome/ui/icon/internal/IconServletTest.java
  itests/org.openhab.core.ui.icon.tests/.classpath
  itests/org.openhab.core.ui.icon.tests/.project
  itests/org.openhab.core.ui.icon.tests/NOTICE
  itests/org.openhab.core.ui.icon.tests/itest.bndrun
  itests/org.openhab.core.ui.icon.tests/pom.xml
  itests/pom.xml
Labels: test

#1076 Move transform unit tests
  bundles/org.openhab.core.transform/src/test/java/org/eclipse/smarthome/core/transform/actions/TransformationTest.java
  itests/org.openhab.core.transform.tests/.classpath
  itests/org.openhab.core.transform.tests/.project
  itests/org.openhab.core.transform.tests/NOTICE
  itests/org.openhab.core.transform.tests/itest.bndrun
  itests/org.openhab.core.transform.tests/pom.xml
  itests/pom.xml
Labels: test

#1085 Move semantics unit tests
  bundles/org.openhab.core.semantics/src/test/java/org/eclipse/smarthome/core/semantics/SemanticTagsTest.java
  bundles/org.openhab.core.semantics/src/test/java/org/eclipse/smarthome/core/semantics/internal/SemanticsServiceImplTest.java
  itests/org.openhab.core.semantics.tests/.classpath
  itests/org.openhab.core.semantics.tests/.project
  itests/org.openhab.core.semantics.tests/NOTICE
  itests/org.openhab.core.semantics.tests/itest.bndrun
  itests/org.openhab.core.semantics.tests/pom.xml
  itests/pom.xml
Labels: test

#1084 Move model LSP unit tests
  bundles/org.openhab.core.model.lsp/.classpath
  bundles/org.openhab.core.model.lsp/src/test/java/org/eclipse/smarthome/model/lsp/internal/MappingUriExtensionsTest.java
  itests/org.openhab.core.model.lsp.tests/.classpath
  itests/org.openhab.core.model.lsp.tests/.project
  itests/org.openhab.core.model.lsp.tests/NOTICE
  itests/org.openhab.core.model.lsp.tests/itest.bndrun
  itests/org.openhab.core.model.lsp.tests/pom.xml
  itests/pom.xml
Labels: test

#1083 Move magic unit tests
  bundles/org.openhab.core.test.magic/src/test/java/org/eclipse/smarthome/magic/binding/handler/MagicColorLightHandlerTest.java
  bundles/org.openhab.core.test.magic/src/test/java/org/eclipse/smarthome/magic/binding/handler/MagicDimmableLightHandlerTest.java
  bundles/org.openhab.core.test.magic/src/test/java/org/eclipse/smarthome/magic/binding/handler/MagicOnOffLightHandlerTest.java
  bundles/org.openhab.core.test.magic/src/test/java/org/eclipse/smarthome/magic/binding/internal/MagicHandlerFactoryTest.java
  bundles/org.openhab.core.test.magic/src/test/java/org/eclipse/smarthome/magic/binding/internal/MagicServiceImplTest.java
  itests/org.openhab.core.magic.tests/.classpath
  itests/org.openhab.core.magic.tests/.project
  itests/org.openhab.core.magic.tests/NOTICE
  itests/org.openhab.core.magic.tests/itest.bndrun
  itests/org.openhab.core.magic.tests/pom.xml
  itests/pom.xml
Labels: test

#1082 Move IO Net unit tests
  bundles/org.openhab.core.io.net/.classpath
  bundles/org.openhab.core.io.net/src/test/java/org/eclipse/smarthome/io/net/http/BaseHttpUtilTest.java
  bundles/org.openhab.core.io.net/src/test/java/org/eclipse/smarthome/io/net/http/HttpRequestBuilderTest.java
  bundles/org.openhab.core.io.net/src/test/java/org/eclipse/smarthome/io/net/http/HttpUtilTest.java
  bundles/org.openhab.core.io.net/src/test/java/org/eclipse/smarthome/io/net/http/internal/ExtensibleTrustManagerImplTest.java
  bundles/org.openhab.core.io.net/src/test/java/org/eclipse/smarthome/io/net/http/internal/WebClientFactoryImplTest.java
  bundles/org.openhab.core.io.net/src/test/resources/google_weather_response.xml
  itests/org.openhab.core.io.net.tests/.classpath
  itests/org.openhab.core.io.net.tests/.project
  itests/org.openhab.core.io.net.tests/NOTICE
  itests/org.openhab.core.io.net.tests/itest.bndrun
  itests/org.openhab.core.io.net.tests/pom.xml
  itests/pom.xml
Labels: test

#1080 Move compat1x unit tests
  bundles/org.openhab.core.compat1x/src/test/java/org/openhab/core/compat1x/internal/ItemMapperTest.java
  bundles/org.openhab.core.compat1x/src/test/java/org/openhab/core/compat1x/internal/TypeMapperTest.java
  itests/org.openhab.core.compat1x.tests/.classpath
  itests/org.openhab.core.compat1x.tests/.project
  itests/org.openhab.core.compat1x.tests/NOTICE
  itests/org.openhab.core.compat1x.tests/itest.bndrun
  itests/org.openhab.core.compat1x.tests/pom.xml
  itests/pom.xml
Labels: test

#1077 Move voice unit tests
  bundles/org.openhab.core.voice/src/test/java/org/eclipse/smarthome/core/voice/STTExceptionTest.java
  bundles/org.openhab.core.voice/src/test/java/org/eclipse/smarthome/core/voice/SpeechRecognitionErrorEventTest.java
  bundles/org.openhab.core.voice/src/test/java/org/eclipse/smarthome/core/voice/SpeechRecognitionEventTest.java
  bundles/org.openhab.core.voice/src/test/java/org/eclipse/smarthome/core/voice/TTSExceptionTest.java
Labels: test

#1078 Move UI unit tests
  bundles/org.openhab.core.ui/src/test/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImplTest.java
  bundles/org.openhab.core.ui/src/test/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServletServiceTest.java
  itests/org.openhab.core.ui.tests/.classpath
  itests/org.openhab.core.ui.tests/.project
  itests/org.openhab.core.ui.tests/NOTICE
  itests/org.openhab.core.ui.tests/itest.bndrun
  itests/org.openhab.core.ui.tests/pom.xml
  itests/pom.xml
Labels: test

#1079 Move thing XML unit tests
  bundles/org.openhab.core.thing.xml/.classpath
  bundles/org.openhab.core.thing.xml/src/test/java/org/eclipse/smarthome/core/thing/xml/internal/Example.java
  bundles/org.openhab.core.thing.xml/src/test/java/org/eclipse/smarthome/core/thing/xml/internal/XmlHelperTest.java
  bundles/org.openhab.core.thing.xml/src/test/resources/example/example.xml
Labels: test

#1081 Move IO HTTP unit tests
  bundles/org.openhab.core.io.http/src/test/java/org/eclipse/smarthome/io/http/internal/HttpContextFactoryServiceImplTest.java
  itests/org.openhab.core.io.http.tests/.classpath
  itests/org.openhab.core.io.http.tests/.project
  itests/org.openhab.core.io.http.tests/NOTICE
  itests/org.openhab.core.io.http.tests/itest.bndrun
  itests/org.openhab.core.io.http.tests/pom.xml
  itests/pom.xml
Labels: test

#999 [config dispatch] Added support for values containing a list of configuration options
  bundles/org.openhab.core.config.dispatch/src/main/java/org/eclipse/smarthome/config/dispatch/internal/ConfigDispatcher.java
  itests/org.openhab.core.config.dispatch.tests/src/main/java/org/eclipse/smarthome/config/dispatch/test/ConfigDispatcherOSGiTest.java
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local.pid.list.default.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.fifth.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.first.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.fourth.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.second.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.seventh.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.sixth.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_list_conf/local_pid_list_services/local.pid.list.service.third.file.cfg
Labels: enhancement

#919 [ephemeris] Adopted configuration for Ephemeris service
  bundles/org.openhab.core.ephemeris/src/main/java/org/eclipse/smarthome/core/ephemeris/internal/EphemerisManagerImpl.java
  bundles/org.openhab.core.ephemeris/src/main/resources/ESH-INF/config/config.xml
  bundles/org.openhab.core.ephemeris/src/main/resources/jollyday/descriptions/country_descriptions.properties
  features/karaf/openhab-core/src/main/feature/feature.xml
  itests/org.openhab.core.ephemeris.tests/.classpath
  itests/org.openhab.core.ephemeris.tests/.project
  itests/org.openhab.core.ephemeris.tests/NOTICE
  itests/org.openhab.core.ephemeris.tests/itest.bndrun
  itests/org.openhab.core.ephemeris.tests/pom.xml
  itests/org.openhab.core.ephemeris.tests/src/main/java/org/eclipse/smarthome/core/ephemeris/internal/EphemerisManagerImplOSGiTest.java
  itests/pom.xml
Labels: bug

#1104 switched to latest super-pom
  pom.xml
Labels: infrastructure

#1105 [config dispatch] Fixed wrong trimmed properties
  bundles/org.openhab.core.config.dispatch/src/main/java/org/eclipse/smarthome/config/dispatch/internal/ConfigDispatcher.java
  itests/org.openhab.core.config.dispatch.tests/src/main/java/org/eclipse/smarthome/config/dispatch/internal/ConfigDispatcherOSGiTest.java
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_whitespaces_conf/local.pid.default.file.cfg
  itests/org.openhab.core.config.dispatch.tests/src/main/resources/configurations/local_pid_whitespaces_conf/local_pid_services/local.pid.service.file.cfg
Labels: bug, critical

#1123 Fix unstable MDNSDiscoveryServiceOSGiTest
  itests/org.openhab.core.config.discovery.mdns.tests/src/main/java/org/eclipse/smarthome/config/discovery/mdns/internal/MDNSDiscoveryServiceOSGiTest.java
Labels: bug, test

#1129 Fix unstable PersistentInboxTest
  bundles/org.openhab.core.config.discovery/src/test/java/org/eclipse/smarthome/config/discovery/internal/PersistentInboxTest.java
Labels: bug, test

#1130 Improve SafeCallerImplTest stability
  itests/org.openhab.core.tests/src/main/java/org/eclipse/smarthome/core/internal/common/SafeCallerImplTest.java
Labels: bug, test

#1031 [rest] Added support for default values containing a list of configuration options
  bundles/org.openhab.core.config.core/src/main/java/org/eclipse/smarthome/config/core/dto/ConfigDescriptionDTOMapper.java
  bundles/org.openhab.core.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/config/EnrichedConfigDescriptionDTOMapper.java
  bundles/org.openhab.core.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/config/EnrichedConfigDescriptionParameterDTO.java
  bundles/org.openhab.core.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/config/ConfigDescriptionResource.java
  bundles/org.openhab.core.io.rest.core/src/test/java/org/eclipse/smarthome/io/rest/core/config/EnrichedConfigDescriptionDTOMapperTest.java
Labels: REST/SSE, enhancement

#1131 Add system profile for a rawbutton on-off switch
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/RawButtonOnOffSwitchProfile.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemProfileFactory.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/profiles/SystemProfiles.java
  bundles/org.openhab.core.thing/src/test/java/org/eclipse/smarthome/core/thing/internal/profiles/RawButtonOnOffSwitchProfileTest.java
  itests/org.openhab.core.thing.tests/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemProfileFactoryOSGiTest.java
Labels: enhancement

#1135 [ephemeris] Removed default configuration for ephemeris service from feature file
  features/karaf/openhab-core/src/main/feature/feature.xml
Labels: awaiting other PR, bug

#1142 Fix unstable ChannelTypesTest
  itests/org.openhab.core.thing.xml.tests/src/main/java/org/eclipse/smarthome/core/thing/xml/test/ChannelTypesTest.java
Labels: bug, test

#1144 Fix unstable GenericItemProviderTest
  itests/org.openhab.core.model.item.tests/src/main/java/org/eclipse/smarthome/model/item/internal/GenericItemProvider2Test.java
  itests/org.openhab.core.model.item.tests/src/main/java/org/eclipse/smarthome/model/item/internal/GenericItemProviderTest.java
Labels: bug, test

#1147 Fix ConcurrentModificationException in AutomationIntegrationTest
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/AutomationIntegrationTest.java
Labels: bug, test

#1146 Fix unstable AutomationIntegrationJsonTest
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/AutomationIntegrationJsonTest.java
Labels: bug, test

#1149 [rest] Fixed potential NPE if 'defaultValue' is null
  bundles/org.openhab.core.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/config/EnrichedConfigDescriptionParameterDTO.java
  bundles/org.openhab.core.io.rest.core/src/test/java/org/eclipse/smarthome/io/rest/core/config/EnrichedConfigDescriptionDTOMapperTest.java
Labels: REST/SSE, bug, critical

#1148 Fix ScopeTest on Windows
  itests/org.openhab.core.automation.module.script.defaultscope.tests/src/main/java/org/openhab/core/automation/module/script/defaultscope/internal/ScopeTest.java
Labels: bug, test

#1150 Fix ItemResourceOSGiTest on Windows
  bundles/org.openhab.core.io.rest/src/main/java/org/eclipse/smarthome/io/rest/Stream2JSONInputStream.java
Labels: bug, test

#1159 [automation] Fixed cron parsing for Day-Of-Week sub-expression
  bundles/org.openhab.core/src/main/java/org/eclipse/smarthome/core/internal/scheduler/CronAdjuster.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/scheduler/CronAdjusterTest.java
Labels: automation, bug

#1162 [automation] Fix the created cron to run only once at the trigger minute.
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/module/handler/TimeOfDayTriggerHandler.java
Labels: automation, bug

#1164 [automation] Fix typos in EphemerisConditions.json
  bundles/org.openhab.core.automation/src/main/resources/ESH-INF/automation/moduletypes/EphemerisConditions.json
Labels: automation, bug

#1161 [i18n] Refactoring and annotations
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/AbstractResourceBundleProvider.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/ModuleTypeResourceBundleProvider.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/TemplateResourceBundleProvider.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/i18n/ModuleI18nUtil.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/i18n/ModuleTypeI18nServiceImpl.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/i18n/ModuleTypeI18nUtil.java
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/provider/i18n/RuleTemplateI18nUtil.java
  bundles/org.openhab.core.config.core/src/main/java/org/eclipse/smarthome/config/core/i18n/ConfigI18nLocalizationService.java
  bundles/org.openhab.core.config.core/src/main/java/org/eclipse/smarthome/config/core/internal/i18n/ConfigDescriptionGroupI18nUtil.java
  bundles/org.openhab.core.config.core/src/main/java/org/eclipse/smarthome/config/core/internal/i18n/ConfigDescriptionI18nUtil.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ChannelGroupTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ChannelTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ThingTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/i18n/ThingTypeI18nUtil.java
  itests/org.openhab.core.automation.integration.tests/itest.bndrun
  itests/org.openhab.core.automation.module.core.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.defaultscope.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.tests/itest.bndrun
  itests/org.openhab.core.automation.module.timer.tests/itest.bndrun
Labels: i18n/l10n

#1166 Improve HostFragmentSupportTest stability with null assertions
  itests/org.openhab.core.automation.integration.tests/src/main/java/org/openhab/core/automation/integration/test/HostFragmentSupportTest.java
Labels: bug, test

#1160 added "resources" folder as a resource folder to the build
  bundles/org.openhab.core.model.script/bnd.bnd
Labels: bug
