Repository openhab/openhab-core, pull requests merged in 2019-09, with the labels that each got.

#611 [bin2json] Binary to JSON converter initial contribution
  bom/compile/pom.xml
  bom/openhab-core/pom.xml
  bom/runtime/pom.xml
  bundles/org.openhab.core.io.bin2json/.classpath
  bundles/org.openhab.core.io.bin2json/.project
  bundles/org.openhab.core.io.bin2json/NOTICE
  bundles/org.openhab.core.io.bin2json/README.md
  bundles/org.openhab.core.io.bin2json/pom.xml
  bundles/org.openhab.core.io.bin2json/src/main/java/org/openhab/core/io/bin2json/Bin2Json.java
  bundles/org.openhab.core.io.bin2json/src/main/java/org/openhab/core/io/bin2json/ConversionException.java
  bundles/org.openhab.core.io.bin2json/src/test/java/org/openhab/core/io/bin2json/Bin2JsonTest.java
  bundles/pom.xml
  features/karaf/openhab-core/src/main/feature/feature.xml
  features/karaf/openhab-tp/src/main/feature/feature.xml
Labels: new contribution

#1010 [rest] Changed property type to Boolean to allow null values
  bundles/org.openhab.core.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/item/EnrichedItemDTO.java
  itests/org.openhab.core.io.rest.core.tests/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResourceOSGiTest.java
Labels: REST/SSE, bug

#1032 Mapview element by default for a location item
  bundles/org.openhab.core.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
Labels: enhancement

#1020 New Audio REST API
  bom/openhab-core/pom.xml
  bundles/org.openhab.core.io.rest.audio/.classpath
  bundles/org.openhab.core.io.rest.audio/.project
  bundles/org.openhab.core.io.rest.audio/NOTICE
  bundles/org.openhab.core.io.rest.audio/pom.xml
  bundles/org.openhab.core.io.rest.audio/src/main/java/org/eclipse/smarthome/io/rest/audio/internal/AudioMapper.java
  bundles/org.openhab.core.io.rest.audio/src/main/java/org/eclipse/smarthome/io/rest/audio/internal/AudioResource.java
  bundles/org.openhab.core.io.rest.audio/src/main/java/org/eclipse/smarthome/io/rest/audio/internal/AudioSinkDTO.java
  bundles/org.openhab.core.io.rest.audio/src/main/java/org/eclipse/smarthome/io/rest/audio/internal/AudioSourceDTO.java
  bundles/pom.xml
  features/karaf/openhab-core/src/main/feature/feature.xml
Labels: REST/SSE, enhancement

#1044 Enabled REST SSE tests
  bundles/org.openhab.core.io.rest.sse/src/test/java/org/eclipse/smarthome/io/rest/sse/internal/util/SseUtilTest.java
  itests/org.openhab.core.io.rest.sse.tests/.classpath
  itests/org.openhab.core.io.rest.sse.tests/.project
  itests/org.openhab.core.io.rest.sse.tests/NOTICE
  itests/org.openhab.core.io.rest.sse.tests/itest.bndrun
  itests/org.openhab.core.io.rest.sse.tests/pom.xml
  itests/pom.xml
Labels: test

#1050 Fix dynamic options in UI
  bundles/org.openhab.core/src/main/java/org/eclipse/smarthome/core/internal/types/StateDescriptionFragmentImpl.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/internal/types/StateDescriptionFragmentImplTest.java
  bundles/org.openhab.core/src/test/java/org/eclipse/smarthome/core/types/StateDescriptionFragmentBuilderTest.java
Labels: bug

#1051 discovery: Fixed activation of inbox
  bundles/org.openhab.core.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/internal/AutomaticInboxProcessor.java
  itests/org.openhab.core.config.discovery.tests/src/main/java/org/eclipse/smarthome/config/discovery/internal/AutomaticInboxProcessorTest.java
Labels: bug

#1052 [rest] Allow colons in sse topics filter
  bundles/org.openhab.core.io.rest.sse/src/main/java/org/eclipse/smarthome/io/rest/sse/internal/util/SseUtil.java
  bundles/org.openhab.core.io.rest.sse/src/test/java/org/eclipse/smarthome/io/rest/sse/internal/util/SseUtilTest.java
Labels: REST/SSE, bug

#1054 Inject SchedulerImpl into DelegatedSchedulerImpl to fix waiting bundles
  bundles/org.openhab.core/src/main/java/org/eclipse/smarthome/core/internal/scheduler/DelegatedSchedulerImpl.java
  itests/org.openhab.core.tests/src/main/java/org/eclipse/smarthome/core/internal/scheduler/DelegatedSchedulerTest.java
Labels: bug

#1055 Reenable org.openhab.core.io.rest.tests
  bundles/org.openhab.core.io.rest/src/test/java/org/eclipse/smarthome/io/rest/JSONResponseTest.java
  bundles/org.openhab.core.io.rest/src/test/java/org/eclipse/smarthome/io/rest/Stream2JSONInputStreamTest.java
  bundles/org.openhab.core.io.rest/src/test/java/org/eclipse/smarthome/io/rest/internal/filter/CorsFilterTest.java
  bundles/org.openhab.core.io.rest/src/test/java/org/eclipse/smarthome/io/rest/internal/filter/ProxyFilterTest.java
  bundles/org.openhab.core.io.rest/src/test/java/org/eclipse/smarthome/io/rest/internal/filter/SatisfiableResourceFilterTest.java
  itests/org.openhab.core.io.rest.tests/.classpath
  itests/org.openhab.core.io.rest.tests/.project
  itests/org.openhab.core.io.rest.tests/NOTICE
  itests/org.openhab.core.io.rest.tests/itest.bndrun
  itests/org.openhab.core.io.rest.tests/pom.xml
  itests/pom.xml
Labels: test

#1056 Reenable org.openhab.core.io.transport.mqtt.tests
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/MqttAsyncClientEx.java
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnectionEx.java
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnectionTests.java
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/internal/MqttServiceTests.java
  itests/org.openhab.core.io.transport.mqtt.tests/.classpath
  itests/org.openhab.core.io.transport.mqtt.tests/.project
  itests/org.openhab.core.io.transport.mqtt.tests/NOTICE
  itests/org.openhab.core.io.transport.mqtt.tests/itest.bndrun
  itests/org.openhab.core.io.transport.mqtt.tests/pom.xml
  itests/pom.xml
Labels: test

#1057 Reenable org.openhab.core.io.transport.upnp.tests
  bundles/org.openhab.core.io.transport.upnp/src/test/java/org/eclipse/smarthome/io/transport/upnp/internal/UpnpIOServiceTest.java
  itests/org.openhab.core.io.transport.upnp.tests/.classpath
  itests/org.openhab.core.io.transport.upnp.tests/.project
  itests/org.openhab.core.io.transport.upnp.tests/NOTICE
  itests/org.openhab.core.io.transport.upnp.tests/itest.bndrun
  itests/org.openhab.core.io.transport.upnp.tests/pom.xml
  itests/pom.xml
Labels: test

#1059 Fix MQTT gracefulStop test
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/MqttAsyncClientEx.java
  bundles/org.openhab.core.io.transport.mqtt/src/test/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnectionTests.java
Labels: test

#1058 [DSL] Removed deleted things from internal map
  bundles/org.openhab.core.model.thing/src/org/eclipse/smarthome/model/thing/internal/GenericThingProvider.xtend
Labels: DSL, bug
