Repository openhab/openhab-core, pull requests merged in 2019-05, with the labels that each got.

#595 Revert main part of DS requirements removal
  pom.xml
Labels: infrastructure, work in progress

#804 Separate i18n infrastructure for 'ChannelGroup'
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ChannelGroupTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ChannelTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/i18n/ThingTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/i18n/ChannelGroupI18nUtil.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/i18n/ChannelI18nUtil.java
Labels: i18n/l10n

#785 Added i18n feature for profiles
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemProfileFactory.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/i18n/ProfileI18nUtil.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/profiles/ProfileTypeProvider.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/profiles/i18n/ProfileTypeI18nLocalizationService.java
  bundles/org.openhab.core.thing/src/main/resources/ESH-INF/i18n/SystemProfiles_de.properties
  itests/org.openhab.core.thing.tests/src/main/java/org/eclipse/smarthome/core/thing/internal/CommunicationManagerOSGiTest.java
  itests/org.openhab.core.thing.tests/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemProfileFactoryOSGiTest.java
  itests/org.openhab.core.thing.tests/src/main/java/org/eclipse/smarthome/core/thing/profiles/i18n/SystemProfileI18nOSGiTest.java
Labels: i18n/l10n

#808 Factored out 'LocalizedKey' into separate class
  bundles/org.openhab.core.config.xml/src/main/java/org/eclipse/smarthome/config/xml/AbstractXmlBasedProvider.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/DefaultSystemChannelTypeProvider.java
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/SystemProfileFactory.java
  bundles/org.openhab.core/src/main/java/org/eclipse/smarthome/core/i18n/LocalizedKey.java
Labels: i18n/l10n

#817 [archetype] Fixed generation of binding skeletons
  tools/archetype/binding/src/main/resources/META-INF/archetype-post-generate.groovy
  tools/archetype/binding/src/main/resources/META-INF/maven/archetype-metadata.xml
  tools/archetype/binding/src/main/resources/archetype-resources/src/main/feature/feature.xml
Labels: infrastructure

#831 Use correct profile builder
  bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/profiles/i18n/ProfileTypeI18nLocalizationService.java
Labels: bug, i18n/l10n

#691 Always send correct 'item' member in SSE events.
  bundles/org.openhab.core.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java
Labels: REST/SSE, sitemap

#555 Carve out infrastructure stuff into an openHAB Super POM
  pom.xml
Labels: work in progress
