Repository openhab/openhab-core, pull requests merged in 2020-03, with the labels that each got.

#1394 [uom] Fixed intensity conversion from W/m² to µW/cm²
  bundles/org.openhab.core/src/main/java/org/openhab/core/library/unit/SmartHomeUnits.java
  bundles/org.openhab.core/src/test/java/org/openhab/core/library/unit/SmartHomeUnitsTest.java
Labels: UoM, bug

#1256 [automation] Added API for ScriptEngineFactory implementations to pull presets
  bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/ScriptExtensionManager.java
  bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/ScriptExtensionManagerWrapper.java
Labels: automation, enhancement

#1264 [automation] Add script extension to allow scripts to track their disposal
  bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/defaultscope/LifecycleScriptExtensionProvider.java
Labels: automation
