Repository openhab/openhab-core, pull requests merged in 2021-06, with the labels that each got.

#2398 [automation] Ephemeris Offset fix
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/internal/module/handler/EphemerisConditionHandler.java
Labels: automation, bug

#2399 Fix links to group members in REST response
  bundles/org.openhab.core.io.rest.core/src/main/java/org/openhab/core/io/rest/core/internal/item/ItemResource.java
  itests/org.openhab.core.io.rest.core.tests/src/main/java/org/openhab/core/io/rest/core/internal/item/ItemResourceOSGiTest.java
Labels: REST/SSE, bug

#2401 Added GALLON_LIQUID_US and GALLON_PER_MINUTE to UoM
  bundles/org.openhab.core/src/main/java/org/openhab/core/library/unit/ImperialUnits.java
Labels: UoM, enhancement

#2402 Make UUID available to users
  bundles/org.openhab.core.id/src/main/java/org/openhab/core/id/internal/UUIDResource.java
Labels: REST/SSE, enhancement

#2410 Added method to publish whole 'StateDescriptionFragment'
  bundles/org.openhab.core.thing/src/main/java/org/openhab/core/thing/events/ThingEventFactory.java
  bundles/org.openhab.core.thing/src/test/java/org/openhab/core/thing/events/ThingEventFactoryTest.java
Labels: enhancement

#2412 [item] Create a deep copy of the first found fragment before merging other fragments into it
  bundles/org.openhab.core/src/main/java/org/openhab/core/internal/service/StateDescriptionServiceImpl.java
  bundles/org.openhab.core/src/test/java/org/openhab/core/internal/service/StateDescriptionServiceImplTest.java
Labels: bug

#2413 Enhanced sitemap SSE event with a new boolean field informing if the
  bundles/org.openhab.core.io.rest.sitemap/src/main/java/org/openhab/core/io/rest/sitemap/SitemapSubscriptionService.java
  bundles/org.openhab.core.io.rest.sitemap/src/main/java/org/openhab/core/io/rest/sitemap/internal/PageChangeListener.java
  bundles/org.openhab.core.io.rest.sitemap/src/main/java/org/openhab/core/io/rest/sitemap/internal/SitemapWidgetEvent.java
Labels: enhancement, sitemap

#2408 [automation] Ignore relative lib directories for scripts
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/internal/loader/DependencyTracker.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/internal/loader/ScriptFileWatcher.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/internal/loader/ScriptLibraryWatcher.java
Labels: automation, enhancement
