Repository openhab/openhab-core, pull requests merged in 2021-12, with the labels that each got.

#2544 Add i18n-maven-plugin to make internationalization easier
  tools/i18n-plugin/.classpath
  tools/i18n-plugin/.project
  tools/i18n-plugin/pom.xml
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/AbstractI18nMojo.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/BundleInfo.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/BundleInfoReader.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/DefaultTranslationsGenerationMode.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/GenerateDefaultTranslationsMojo.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/PropertiesToTranslationsConverter.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/Translations.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/TranslationsMerger.java
  tools/i18n-plugin/src/main/java/org/openhab/core/tools/i18n/plugin/XmlToTranslationsConverter.java
  tools/i18n-plugin/src/test/java/org/openhab/core/tools/i18n/plugin/BundleInfoReaderTest.java
  tools/i18n-plugin/src/test/java/org/openhab/core/tools/i18n/plugin/GenerateDefaultTranslationsMojoTest.java
  tools/i18n-plugin/src/test/java/org/openhab/core/tools/i18n/plugin/PropertiesToTranslationsConverterTest.java
  tools/i18n-plugin/src/test/java/org/openhab/core/tools/i18n/plugin/TranslationsMergerTest.java
  tools/i18n-plugin/src/test/java/org/openhab/core/tools/i18n/plugin/XmlToTranslationsConverterTest.java
  tools/i18n-plugin/src/test/resources/acmetts.bundle/OH-INF/config/config.xml
  tools/i18n-plugin/src/test/resources/acmetts.bundle/OH-INF/i18n/acmetts.generated.properties
  tools/i18n-plugin/src/test/resources/acmetts.bundle/OH-INF/i18n/acmetts.partial.properties
  tools/i18n-plugin/src/test/resources/acmetts.bundle/OH-INF/i18n/acmetts.properties
  tools/i18n-plugin/src/test/resources/acmetts.bundle/OH-INF/i18n/acmetts_de.properties
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/binding/binding.xml
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/config/config.xml
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/i18n/acmeweather.generated.properties
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/i18n/acmeweather.partial.properties
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/i18n/acmeweather.properties
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/i18n/acmeweather_de.properties
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/thing/channel-types.xml
  tools/i18n-plugin/src/test/resources/acmeweather.bundle/OH-INF/thing/thing-types.xml
  tools/i18n-plugin/src/test/resources/infoless.bundle/.gitkeep
  tools/pom.xml
Labels: i18n/l10n

#2567 [DSL] Added variable 'triggeringChannel' to DSL rules
  bundles/org.openhab.core.model.rule/src/org/openhab/core/model/rule/jvmmodel/RulesJvmModelInferrer.xtend
  bundles/org.openhab.core.model.script.runtime/src/org/openhab/core/model/script/runtime/internal/engine/DSLScriptEngine.java
  bundles/org.openhab.core.model.script/src/org/openhab/core/model/script/jvmmodel/ScriptJvmModelInferrer.xtend
Labels: enhancement, DSL rules

#2594 [UI] Added item name to error message
  bundles/org.openhab.core.ui/src/main/java/org/openhab/core/ui/internal/items/ItemUIRegistryImpl.java
Labels: UI

#2602 Use Accept-Language header for locale in ConfigurableServiceResource
  bundles/org.openhab.core.io.rest.core/src/main/java/org/openhab/core/io/rest/core/internal/service/ConfigurableServiceResource.java
  itests/org.openhab.core.io.rest.core.tests/src/main/java/org/openhab/core/io/rest/core/internal/service/ConfigurableServiceResourceOSGiTest.java
Labels: bug

#2587 [automation] Added basic time-related classes for usage in script and rules
  bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/defaultscope/DefaultScriptScopeProvider.java
  bundles/org.openhab.core.model.script/src/org/openhab/core/model/script/scoping/ScriptImplicitlyImportedTypes.java
Labels: enhancement, automation, DSL rules

#2592 [marketplace] add a 3rd Party marketplace
  bundles/org.openhab.core.addon.marketplace/pom.xml
  bundles/org.openhab.core.addon.marketplace/src/main/java/org/openhab/core/addon/marketplace/internal/community/CommunityMarketplaceAddonService.java
  bundles/org.openhab.core.addon.marketplace/src/main/java/org/openhab/core/addon/marketplace/internal/json/JsonAddonService.java
  bundles/org.openhab.core.addon.marketplace/src/main/java/org/openhab/core/addon/marketplace/internal/json/model/AddonEntryDTO.java
  bundles/org.openhab.core.addon.marketplace/src/main/resources/OH-INF/config/marketplace.xml
Labels: enhancement

#2593 [automation] Script file watchers now reusable for language-specific versions
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/internal/loader/DefaultScriptFileWatcher.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/internal/loader/ScriptLibraryWatcher.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/loader/DependencyTracker.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/loader/ScriptFileReference.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/main/java/org/openhab/core/automation/module/script/rulesupport/loader/ScriptFileWatcher.java
  bundles/org.openhab.core.automation.module.script.rulesupport/src/test/java/org/openhab/core/automation/module/script/rulesupport/loader/ScriptFileWatcherTest.java
Labels: enhancement, automation

#2606 Change the syntax for references in automation modules configuration
  bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automation/util/ReferenceResolver.java
  bundles/org.openhab.core.automation/src/test/java/org/openhab/core/automation/util/ReferenceResolverUtilTest.java
  itests/org.openhab.core.automation.integration.tests/src/main/resources/OH-INF/automation/templates/SimpleTestTemplate.json
  itests/org.openhab.core.automation.integration.tests/src/main/resources/OH-INF/automation/templates/TestTemplateRuleWithReferences.json
  itests/org.openhab.core.automation.integration.tests/src/main/resources/OH-INF/automation/templates/TestTemplateWithCompositeModules.json
Labels: automation, API breaking

#2597 Update SemanticTags.csv
  bundles/org.openhab.core.semantics/model/SemanticTags.csv
  bundles/org.openhab.core.semantics/src/main/java/org/openhab/core/semantics/model/location/Porch.java
  bundles/org.openhab.core.semantics/src/main/resources/tags.properties
  bundles/org.openhab.core.semantics/src/main/resources/tags_es.properties
Labels: translation, semantics

#2595 Use the mime types provided by the ScriptEngineFactory
  bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/provider/ScriptModuleTypeProvider.java
Labels: enhancement, automation

#2603 Upgrade to Karaf 4.3.4
  bom/runtime/pom.xml
  itests/org.openhab.core.auth.oauth2client.tests/itest.bndrun
  itests/org.openhab.core.automation.integration.tests/itest.bndrun
  itests/org.openhab.core.automation.module.core.tests/itest.bndrun
  itests/org.openhab.core.automation.module.script.tests/itest.bndrun
  itests/org.openhab.core.automation.module.timer.tests/itest.bndrun
  itests/org.openhab.core.automation.tests/itest.bndrun
  itests/org.openhab.core.binding.xml.tests/itest.bndrun
  itests/org.openhab.core.config.core.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.mdns.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.usbserial.linuxsysfs.tests/itest.bndrun
  itests/org.openhab.core.config.discovery.usbserial.tests/itest.bndrun
  itests/org.openhab.core.config.dispatch.tests/itest.bndrun
  itests/org.openhab.core.config.xml.tests/itest.bndrun
  itests/org.openhab.core.ephemeris.tests/itest.bndrun
  itests/org.openhab.core.io.rest.core.tests/itest.bndrun
  itests/org.openhab.core.model.core.tests/itest.bndrun
  itests/org.openhab.core.model.item.tests/itest.bndrun
  itests/org.openhab.core.model.rule.tests/itest.bndrun
  itests/org.openhab.core.model.script.tests/itest.bndrun
  itests/org.openhab.core.model.thing.tests/itest.bndrun
  itests/org.openhab.core.storage.json.tests/itest.bndrun
  itests/org.openhab.core.tests/itest.bndrun
  itests/org.openhab.core.thing.tests/itest.bndrun
  itests/org.openhab.core.thing.xml.tests/itest.bndrun
  itests/org.openhab.core.voice.tests/itest.bndrun
  pom.xml
Labels: karaf

#2635 [discovery.mdns] Devices may apply a grace period for removal from the Inbox
  bundles/org.openhab.core.config.discovery.mdns/src/main/java/org/openhab/core/config/discovery/mdns/MDNSDiscoveryParticipant.java
  bundles/org.openhab.core.config.discovery.mdns/src/main/java/org/openhab/core/config/discovery/mdns/internal/MDNSDiscoveryService.java
Labels: enhancement

#2622 [tls] Add a PEMTrustManager to deal with different PEM files (e.g. self-signed or global CA certificates)
  bundles/org.openhab.core.io.net/src/main/java/org/openhab/core/io/net/http/PEMTrustManager.java
  bundles/org.openhab.core.io.net/src/main/java/org/openhab/core/io/net/http/internal/ExtensibleTrustManagerImpl.java
Labels: enhancement

#2652 Make SSEResource robust against missing parameters
  bundles/org.openhab.core.io.rest.sse/src/main/java/org/openhab/core/io/rest/sse/SseResource.java
Labels: bug, REST/SSE

#2654 Prevent errors in log when there is a connection timeout
  bundles/org.openhab.core.io.rest.core/src/main/java/org/openhab/core/io/rest/core/internal/GsonMessageBodyWriter.java
Labels: bug

#2655 Prevent errors in log when client closes the HTTP connection
  bundles/org.openhab.core.io.rest.core/src/main/java/org/openhab/core/io/rest/core/internal/JSONResponseExceptionMapper.java
Labels: bug, REST/SSE

#2641 allow the use of an HTTP proxy
  bundles/org.openhab.core.io.net/src/main/java/org/openhab/core/io/net/http/internal/WebClientFactoryImpl.java
Labels: enhancement
